// -----------------------------------------------------------------------------
// Config
// -----------------------------------------------------------------------------
$wk-produce-css-classes: false !default;

// -----------------------------------------------------------------------------
// Colors
// -----------------------------------------------------------------------------
$page:         #fff;    // to match the page background, default is white
$border:       #ccc;    // all borders set in global.styles - tables, fieldset, primary links
$highlight:    #c00;    // required mark, form error highlight, "new" label on comments
$ultralight:   #f5f5f5; // table row even, primary link inactive tabs
$light:        #eee;    // table row odd active, primary link inactive hover
$medium_light: #ebebeb; // table row even active
$medium_dark:  #e5e5e5; // table thead
$debug:        rgba(255, 192, 203, 0.5); // Full width wrapper test

$thead:          $medium_dark;
$tr_odd:         $page;
$tr_even:        $ultralight;
$tr_odd_active:  $light;
$tr_even_active: $medium_light;

$primary_task:        $ultralight;
$primary_task_hover:  $light;
$primary_task_active: $page;


// Brand colours

$WunderPink:      #e10075;
$WunderBlue:      #58b8d1;
$WunderOrange:    #ff962c;
$WunderGreen:     #88B700;

$WunderGreyDark:  #45535f;
$WunderGreyLight: #c0ccd6;

$WunderWhite:     #f3edf0;

$WunderShadowDark:    rgba(0,0,0,0.64);
$WunderShadowLight:   rgba(0,0,0,0.3);


// -----------------------------------------------------------------------------
// Fonts
// -----------------------------------------------------------------------------

$sans-serif-small:            'Trebuchet MS', 'Helvetica Neue', Arial, Helvetica, sans-serif;
$sans-serif-large:            Verdana, Geneva, 'DejaVu Sans', Arial, Helvetica, sans-serif;
$sans-serif-arial-helvetica:  Arial, Helvetica, sans-serif;
$calibri-candara:             Calibri, Candara, Arial, Helvetica, sans-serif;
$serif-small:                 Garamond, Perpetua, 'Times New Roman', serif;
$serif-large:                 Georgia, Baskerville, Palatino, 'Palatino Linotype', 'Book Antiqua', 'Times New Roman', serif;
$modern-myriad:               'Segoe UI', 'Myriad Pro', Myriad, Arial, Helvetica, sans-serif;
$lucida:                      'Lucida Sans Unicode', 'Lucida Sans', 'Lucida Grande', Verdana, Geneva, sans-serif;
$impact:                      Impact, Haettenschweiler, 'Franklin Gothic Bold', Charcoal, 'Helvetica Inserat', 'Bitstream Vera Sans Bold', 'Arial Black', sans-serif;
$mono:                        Consolas, Monaco, 'Courier New', Courier, monospace, sans-serif;

$WunderFont:                      "Droid Sans",Arial,sans-serif;
$WunderFontHeader:                "Museo Slab",Arial,sans-serif;
