// -----------------------------------------------------------------------------
// Config
// -----------------------------------------------------------------------------
$wk-produce-css-classes: false !default;

// -----------------------------------------------------------------------------
// Colors
// -----------------------------------------------------------------------------
$page:         #fff;    // to match the page background, default is white
$border:       #ccc;    // all borders set in global.styles - tables, fieldset, primary links
$highlight:    #c00;    // required mark, form error highlight, "new" label on comments
$ultralight:   #f5f5f5; // table row even, primary link inactive tabs
$light:        #eee;    // table row odd active, primary link inactive hover
$medium_light: #ebebeb; // table row even active
$medium_dark:  #e5e5e5; // table thead

// Brand colours

$WunderPink:      #e10075;
$WunderBlue:      #58b8d1;
$WunderOrange:    #ff962c;
$WunderGreen:     #88B700;

$WunderGreyDark:  #45535f;
$WunderGreyLight: #c0ccd6;

$WunderWhite:     #f3edf0;

$WunderShadowDark:    rgba(0,0,0,0.64);
$WunderShadowLight:   rgba(0,0,0,0.3);


// -----------------------------------------------------------------------------
// Fonts
// -----------------------------------------------------------------------------

$WunderFont:                      "Droid Sans",Arial,sans-serif;
$WunderFontHeader:                museo-slab, "Museo Slab",Arial,sans-serif;
