@mixin wk-person {
  @include clearfix();
}
@mixin wk-person__name {
  word-wrap: break-word;
  overflow-wrap: break-word;
  margin: 0;
}
@mixin wk-person__picture {
  float: left;
  margin: 0 10px 0 0;
}

@if $wk-produce-css-classes {
  .person__name {
    @include wk-person__name;
  }
  .person {
    @include wk-person;
  }
  .person__picture {
    @include wk-person__picture;
  }
}

