$breakpoint-medium: 600px;
$breakpoint-large: 850px;

@mixin team() {
  @include clearfix();
  padding: 0;
  margin: 0;
  list-style: none;
}
@mixin team__member() {
  margin: 0 1%;
  padding: 8px 0;
  border-bottom: 1px dotted #5a5a5a;
  @media (min-width: $breakpoint-medium) and (max-width: $breakpoint-large) {
    float: left;
    width: 48%;
    &:nth-of-type(2n+1) {
      clear: left;
    }
  }
  @media (min-width: $breakpoint-large) {
    float: left;
    width: 31%;
    min-height: 90px;
    &:nth-of-type(3n+1) {
      clear: left;
    }
  }
}

@if $wk-produce-css-classes {
  .team {
    @include team();
  }
  .team__member {
    @include team__member();
  }
}
